/* Loading.css */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 100%;
  background-color: var(--lightGray);
}

.loading-spinner {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--font-color);
}
