.search-form {
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 2rem;
  display: flex;
}

.search-form .field {
  width: 100%;
  max-width: 40rem;
  border: 0.2rem solid var(--fontColor);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
}

.search-form .field:focus {
  border-color: #007bff;
  box-shadow: 0 0 0.5rem rgba(0, 123, 255, 0.5);
}

.search-form [type="submit"] {
  width: 12rem;
  background-color: var(--btnColor);
  border: none;
  color: var(--fontColor);
  font-weight: 700;
  cursor: pointer;
  padding: 1.3rem;
  border-radius: 0.5rem;
}
